@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');
/* common styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans';
    display: block;
}
.btn-primary{
    padding: 10px;
    width: 180px;
height: 64px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 162, 0);
    border: 0;
    margin: 10px 0;
color: #FFFFFF;
}
/* header section */
header{
    width: 100%;
    height: 1165px;
    background: rgba(255, 144, 14, 0.1);
}

/* navigation style */
.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    padding-top: 50px;
}
.nav-title{
   font-weight: 700;
font-size: 45px;

color: #131313;
}
.nav-head a{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}
.nav-head{
    
}
.nav-head .navi{
    font-weight: 500;
font-size: 18px;

color: #424242;
}
/* header info section */
.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.header-info{
text-align: center;
justify-content: center;
align-items: center;
}
.header-title{
    margin-top: 100px;
    font-weight: 700;
font-size: 64px;
line-height: 75px;
text-align: center;
color: #131313;
}
.header-desc{
    font-weight: 400;
font-size: 16px;
color: #727272;
width: 868px;
height: 52px;
margin-top: 10px;
align-items: center;

}
.btn-primary{
    padding: 10px;
    width: 180px;
height: 64px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 162, 0);
    border: 0;
    margin: 10px 0;
color: #FFFFFF;
}
.banner-img{
    margin-top: 30px;
    height: 575px;
    width: 1250px;
    border-radius: 10px;
}

/* quick list style */
.quick-list{
    display: flex;
    gap: 50px;
    margin-top: 85px;
}
.quick-images{
    margin-left: 240px;
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.quick-info{
    margin-right: 240px;
    margin-top: 287px;
    width: 537px;
height: 304px;
}
.quick-title{
   
    font-weight: 700;
font-size: 45px;
color: #131313;

}
.quick-desc{
    margin-top: 10px;
    width: 450px;
    height: 78px;
    font-weight: 400;
font-size: 16px;
color: #727272;
}
.quick-info > .btn-primary{
    margin-top: 5px;
}
/* feature style */
.features-contain{
    display: flex;
    gap: 80px;
    margin-top: 130px;
    justify-content: center;
    
}
.features-info{
    margin-bottom: 107px;
    width: 550px;
height: 950px;
}
.features-head{
    margin-top: 80px;
    display: flex;
    gap: 21px;
}
.vl{
    border-left: 3px solid  rgb(255, 162, 0);
  height: 103px;

}
.features-header{
    font-weight: 700;
font-size: 45px;
color: #131313;

}
.features-desc{
    margin-top: 0;
    font-weight: 400;
font-size: 16px;
color: #727272;
margin-bottom: 30px;
}
.features-img{
    background-image: url(../images/architect.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 660px;
    height: 870px;
    text-align: left;
}
.feature-here{
    padding: 30px;
    box-shadow: 10px 10px 10px whitesmoke;
}
.feature-title{
    font-weight: 600;
font-size: 20px;
color: #131313;
}
.feature-desc{
    font-weight: 400;
font-size: 16px;
color: #727272;
}
.fbtn-primary{
    width: 250px;
    height: 130px;
    margin-left: -50px;
    margin-top: 780px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 162, 0);
    border: 0;
color: #FFFFFF;
}
/* facts styles */
.facts{
    margin-left: 190px;
    margin-top: 130px;
    margin-bottom: 100px;
}
.facts-title{
    font-weight: 700;
font-size: 45px;
color: #131313;
}
.facts-desc{
    font-weight: 400;
font-size: 16px;
color: #727272;
width: 542px;
height: 52px;
}
/* <!-- achievement style --> */
.achieve{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 60px;
    margin-left: 245px;
    margin-right: 245px;
}
.achieve-info{
    border: 1px solid #FF900E;
border-radius: 8px;
width: 241.83px;
height: 225.83px;
padding-top: 45px;
}
.achieve-info:hover{
    background-color: rgb(204, 135, 44);
    rotate: 30deg;
    height: 200px;
    width: 200px;
}
.achieve-no{
    font-weight: 600;
font-size: 45px;
color: #424242;
margin-top: 5px;
margin-bottom: 5px;
}
.achieve-desc{
    font-weight: 600;
font-size: 20px;
color: #727272;
margin-top: 0px;
margin-bottom: 0px;
}
/* sponsors style */
.sponsors{
    margin-top: 180px;
    text-align: center;
    margin-bottom: 80px;
}
.sponsors-head{
    font-weight: 700;
font-size: 45px;
color: #131313;
}
.sponsors-desc{
    margin-top: 30px;
    font-weight: 400;
font-size: 16px;
color: #727272;
}
.sponsors-list{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.sponsors-img{
    filter: grayscale(100%);
}
/* architect style */
.architects{
    margin-bottom: 30px;
}
.section-title{
    color: rgb(204, 135, 44);
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    justify-items: center;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    font-size: 18px;
    margin-left: 16px;
}

/* footer desc */
.footer{
    margin-top: 130px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 216px;
    text-align: center;
    
background: #f4e0c874;
border-radius: 8px;
height: 90px;

}
.footer-desc{
    padding-top:35px;
    font-weight: 400;
font-size: 20px;
color: #424242;
}
/* mobile devices */
@media screen and (max-width: 688px) {
    header{
        margin-bottom: 50px;
    }
    main{
        margin-bottom: 10px;
    }
    .container{
        width: 100%;
    }
    .btn-primary{
        margin-top: 55px;
    }
    .quick-list{
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
        margin-top: 200px;
    }
    .quick-images{
        grid-template-columns: repeat(1,1fr);
        margin-left: 0;
    }
    .features-img{
        max-width: 100%;
        height: 600px;
    }
    .features-head,.sponsors-desc{
        justify-content: center;
        margin-bottom: 10px;
    }
    .sponsors{
        margin-top: 50px;
    }
    .features-info,.sponsors-desc{
        margin-bottom: 50px;
    }
    .nav-bar, .features-contain, .achieve, .sponsors-list{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .facts{
        margin: 50px 0;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
    }
    .player{
        flex-direction: column;
    }
    .nav-bar, .quick-info,.header-container,.banner-img, .footer, .features-info, .facts, .quick-desc, .facts-desc{
        text-align: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .footer-desc{
        padding-top: 20px;
    }
    .fbtn-primary{
        text-align: center;
        margin-top: -300px;
        margin-left:auto;
        margin-right: auto;
        margin-top: -130px;
    }
    .header-desc{
        width: fit-content;
    }
    
}

